#about{ 
    position: relative;
    display: block;
    background: radial-gradient( #ffc6f3b0, #8b004544);
    margin: 1.5em  3.0em 1.5em;
    padding: 2em 0.5em 2.0em;
   
    border-radius: 4em;
    -webkit-text-fill-color: fade;
}
p{
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
.img1{
    height: auto;
    float: left;
    margin: .75em 1em 0;
    border-radius: 1em;
}
h1{
    font-size: 32px; 
    font-family: 'Open Sans', sans-serif;
    color: rgba(255,255,255, 0.8);
   
}
.img{
    float: right;
    border-radius: 30%;
    height: auto;
    
}