.contact-section{
    text-align: center;
    
    

}
h2{
    font-weight: heavy;
    color: white;

}

.contactContainer{
    
    background: -webkit-linear-gradient(rgba(71, 1, 62, 0.589), rgba(248, 152, 224, 0.99));
    width: 100%;
    padding: 10rem ;
    
    
}
 

  
 
  

  