.contact-section{
    text-align: center;
    
    

}
h2{
    font-weight: heavy;
    color: white;

}

.contactContainer{
    
    background: -webkit-linear-gradient(#191c41, rgba(238, 79, 198));
    width: 100%;
    padding: 10rem ;
    
    
}
 

  
 
  

  