
 
 
.masthead {
  position: relative;
  width: 100%;
  height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 152, 224, 0.99)), to rgba(71, 1, 62, 0.589));
    background: linear-gradient(to bottom, rgba(248, 2, 187, 0.1) 0%, #191c41 100%);
    background-position: center;
    
    background-attachment: scroll;
    background-size: cover;
  }
  
  .masthead h1 {
    font-family: 'Varela Round';
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(248, 152, 224, 0.99), rgba(71, 1, 62, 0.589));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  
  } 
.masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
}
.masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.75);
}
  
body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}
  

  
 
  